/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,800&display=swap');


:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;

  --ifm-navbar-height: 60px;
  --ifm-navbar-padding-vertical: 0;
  --ifm-navbar-padding-horizontal: 20px;
  --ifm-navbar-link-hover-color: #000;

  font-family: 'Roboto';

}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar {
  box-shadow: rgb(0 0 0 / 0%) 0px 2px 4px -1px, rgb(0 0 0 / 0%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
}

.navbar__title {
  font-size: 30.8px;
  font-family: "Open sans", sans-serif;
  font-weight: 800;
  color: rgb(135, 186, 166);
  margin-bottom: 2px;
  padding-right: 20px;
  padding-left: 2px;
}

.navbar__link {
  font-weight: 400;
}

.navbar__link:not(.navbar__link--active) {
  opacity: 0.6;
}

html[data-theme='dark'] .navbar__link--active  {
  color: #fff;
}


/*
 * search
 */

.DocSearch-Button {
  width: 325px;
}

@media screen and (max-width: 600px) {
  .DocSearch-Button {
    width: 150px;
  }
}


/*
 * sidebar
 */

.menu {
  margin-top: 20px;
}

ul.menu__list {
  /* override to speed up animation */
  transition: height 100ms ease-in-out 0s !important;
}

.menu__link--sublist:after {
  transition: 100ms linear !important;
}


/**
 * tables
 */

table {
  display: table;
}


/**
 * utility classes
 */

.full-width {
  width: 100%;
}

.muted {
  opacity: 0.6;
}

